# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions
name: Node.js CI

on:
  release:
    types: [released]
  
jobs:
  build:
    runs-on: ubuntu-latest
    
    permissions:
      contents: write
      actions: read
      checks: write
      issues: read
      packages: write
      pull-requests: read
      repository-projects: read
      statuses: read
      # Required for OIDC
      id-token: write

    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'npm'
          registry-url: 'https://registry.npmjs.org'
      # Ensure npm 11.5.1 or later is installed
      - name: Udate to latest npm
        run: npm install -g npm@latest
      - name: Build and pack
        run: |
          npm ci
          npm run build-prod
          npm pack
      - name: Upload
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          echo "Uploading to built to release with tag: ${{ github.event.release.tag_name }}"
          gh release upload "${{ github.event.release.tag_name }}" reportbro-designer-*.tgz
    # - name: Publish to npm
    #   run: npm publish
